<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>
        <typeAlias type="com.coffee.server.RestController.dto.BoardDTO" alias="Board" />
<!--        <typeAlias type="com.coffee.server.RestController.dto.BoardFileDTO" alias="BoardFile" />-->
        <!--
type="com.codingrecipe.board.dto.BoardDT" alias="board"에 대해서 해석: type 속성값을 alias
속성값으로 객체화 시켰음. board가 com.....~를 의미함. 그리고 이 board는 board-mapper.xml에 있는
parameterType="board"과 매핑됨. 이 의미는 설정코드랑 쿼리작성 파일이랑 연결 시킨거임.
이렇게 하는 이유는 DTO 클래스의 경로가 길기 때문에 짧게 하기 위해서임.
-->
    </typeAliases>
</configuration>